html{
}
*{
    margin: 0;
    padding: 0;
}
body{background-color:#68cdd5}
img{
    border:0;
}
 img{ height: auto;max-width: 100%; display: block; }
.clearfix:after{content:"";
clear:both;
display:block;
}
.father{
  background-color:#68cdd5;
  width:100%;
}
.one{width:5%;
}
.two{
  text-align: center;
  margin-top:2rem;

}
.three p{text-align:left;
display: inline-block;}
.two img{margin:0 auto;}
.three{
  text-align: center;
  padding:10% 10%;
  color:white;
  font-size:2rem;
}
.four{background-color:#68cdd5}
.froe{width:10%;
  float: left;
  padding: 0 0 20% 0;
}
.five{
  width:10%;
  float: right;
  padding: 0 0 20% 0;
}