html{
  font-size:62.5%;
}
.father{
  background-color:#68cdd5;
  float: left;
  padding: 0;
  margin: 0;
  width:100%;
}
.one{
  float: left;
}
.two{
  clear: left;
  padding:5% 20%;
  text-align: center;
}
.three{
  text-align: center;
  float: left;
  clear: left;
  padding:10% 10%;
}
.three p{
  color:white;
  font-size:3.0em;
}
.froe{
  float: left;
  padding: 0 0 20% 0;
  clear: left;
}
.five{
  float: right;
  padding: 0 0 20% 0;
}